@import url(https://fonts.googleapis.com/css?family=Abel);
html, body {
  margin: 0;
  height: 100%;
}

* {
  font-family: "Abel";
  box-sizing: border-box;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    --animation: App-logo-spin infinite 20s linear;
  }
}
.logo {
  z-index: 1;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.intro{
  background-color: #060e1d;
  min-height: 100vh;
  font-size: calc(10px + 3vmin);
  color: white;
}

.intro-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.about {
  background-color: #0c0e13;
  height: 100vh;
  font-size: calc(6px + 2vmin);
  color: white;
}

.skills {
  background-color: #13111c;
  height: 100vh;
  font-size: calc(4px + 2vmin);
  color: white;
}



.intro-name-highlighter {
  color: #4dd335;
  font-weight: 600;
  margin-left:10px;
}

.flex-item {
  margin: 2vmin;
  text-align: center;
}

.profile-image {
  width: 20vmin;
  border-radius: 50%;
}

.App-link {
  color: #61dafb;
}

.marginBottom {
  margin-bottom: 2vmin;
}

.banner {
  --height: 6vh;
  text-align: center;
  /* background-color: #00afeb3b; */
  /* padding: 2vmin 0 2vmin 0; */
  font-size: 6vmin;
  text-decoration: unset;
  border-bottom: 2px solid #ff930d;

}
.company {
  font-size: 4vmin;
  font-weight: 400;
}
.location {
  margin-left: 10px;
  font-style: italic;
}
.role {
  font-size: 2.8vmin;
  font-style: italic;
  font-weight: 300;
}
.duration {
  font-size: 2vmin;
  
  font-weight: 300;
}
.experience {
  background-color: #eeeeee;
  min-height: 100vh;
  font-size: calc(4px + 2vmin);
  
}
.maringleftRight20 {
  margin: 0px 20vmin 0px 20vmin;
}

.icon-links {
  margin:2vmin;
}
.icon-links span {
  padding: 1vmin;
  cursor: pointer;
}

.icon-links span a{
  color:#fff;
}
.marginSkills{
  margin: 2vmax !important;
}

.menu:hover {
  color:#61dafb;
  border-bottom: 3px solid green;
}

.menu {
  margin-top: 10px;
  /* background-color: brown; */
  text-align: left;
  padding: 10px;
  font-weight: 450;
  color:darkslateblue;
  cursor: pointer;
  min-width: 70px;
}
.nav-bar {
    color: #b205ff;
    position: fixed;
    z-index: 100;
    height: 100vh;
    max-width:50px;
    --background-color: black;
}

.nav-bar-item {
  cursor: pointer;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    
    
    transform: rotate(180deg);
   
    margin: 20px !important;
    padding: 15px;
    --text-transform: uppercase;
    font-weight: bold;
    font-size:20px;
}
.download-resume {
    background-color: blueviolet !important;
    color: white !important;
    font-weight: 600 !important;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Typewriter*/


.typewriter div{
  --color: #fff;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  --letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}